


.strikethrough {
  text-decoration: line-through;
}

.searching {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
}

.counting {
  background: white;
  margin-top: 20px;
  padding: 10px;
  border-radius: 4px;
}
/* .issue-list{
  background: white;
  margin-top: 20px;
  padding: 10px;
  border-radius: 4px;
} */
.panel {
  background: white;
  margin-top: 20px;
  padding: 10px;
  border-radius: 4px;
}
.level-5{
  background: #8a0a23;
}